// Colors
$white: #fff;
$black: #000;
$dark-gray: rgba(0, 0, 0, .87);
$medium-gray: rgba(0, 0, 0, .54);
$light-gray: rgba(0, 0, 0, .12);

$background: #eee;

$primary: #f6cc4c;

$facebook: #3b5998;
$instagram: #3f729b;
$mail: #f26798;
