// Colors
$white: #fff;
$black: #000;
$dark-gray: rgba(0, 0, 0, .87);
$medium-gray: rgba(0, 0, 0, .54);
$light-gray: #e5e5e5;
$gray: #f4f4f6;

$blue-300: #64b5f6;
$blue-500: #2196f3;
$blue-400: #1976d2;

$pink: #ff80ab;

$facebook: #3b5998;
$instagram: #3f729b;
$mail: #f26798;
