// Colors
$white: #fff;
$black: #000;
$dark-gray: rgba(0, 0, 0, .87);
$medium-gray: rgba(0, 0, 0, .54);
$light-gray: #e5e5e5;
$gray: #f4f4f6;

$primary: #f6cc4c;

$pink: #ff80ab;

$facebook: #3b5998;
$instagram: #3f729b;
$mail: #f26798;
