.store--background {
  background: $white;
}

.store--table {
  width: 100%;
  color: $primary-text;
}

.store--title__container {
  border: 7px solid $primary-text;
  box-shadow: 7px 7px 0 $primary-text;
  display: inline-block;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  padding: .75rem 1rem;
}

.store--title {
  font-weight: bold;
  margin: 0;
  color: $primary-text;
}

.store--sub {
  color: $primary-text;
}
