@keyframes small {
  from {
    left: 20px;
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-7deg);
  }

  50% {
    transform: rotate(7deg);
  }

  75% {
    transform: rotate(-7deg);
  }

  to {
    left: calc(100% - 160px);
    transform: rotate(0deg);
  }
}

@keyframes large {
  from {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-7deg);
  }

  50% {
    transform: rotate(7deg);
  }

  75% {
    transform: rotate(-7deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.welcome--mascot {
  animation-direction: alternate;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-name: small;
  animation-timing-function: ease-in-out;
  left: calc(50% - 100px);
  position: absolute;
  top: calc(50% - 100px);
  transform-origin: center bottom 0;
  width: 130px;

  @include breakpoint(medium) {
    animation-duration: 5s;
    animation-name: large;
    top: calc(50% - 200px);
    width: 200px;
  }
}

.welcome {
  position: relative;
}

.welcome--top {
  position: absolute;
  text-align: center;
  top: 50px;
  width: 100%;
}
