@keyframes small {
  from {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-7deg);
  }

  50% {
    transform: rotate(7deg);
  }

  75% {
    transform: rotate(-7deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.welcome--mascot {
  animation-direction: alternate;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-name: small;
  animation-timing-function: ease-in-out;
  margin: auto;
  width: 150px;
}

.welcome--welcome {
  color: $white;
  font-weight: normal;
  margin-bottom: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .16);

  @include breakpoint(medium) {
    font-size: 36px;
  }
}

.welcome--title {
  color: $white;
  font-weight: 900;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .16);

  @include breakpoint(medium) {
    font-size: 48px;
  }
}

.welcome--info {
  color: $white;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .16), 0 1px 3px rgba(0, 0, 0, .12);
}
