h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  margin-bottom: 10px;
  margin-top: 20px;
}

hr {
  border-bottom: 1px solid $light-gray;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1em 0;
}

p {
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: 400;
  letter-spacing: 1;
  line-height: $base-line-height;
  margin: 0 0 10px;
}

a {
  color: $action-color;
  text-decoration: none;
}

h1 {
  font-family: $base-font-family;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.1;

  @include media($medium-screen) {
    font-size: 2.4em;
  }
}

h2 {
  color: $medium-gray;
  font-family: $base-font-family;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0;

  @include media($medium-screen) {
    font-size: 1.6em;
  }
}


h3 {
  font-family: $base-font-family;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: .6em;
  text-transform: uppercase;
}

h4 {
  color: $dark-gray;
  font-size: 1.2em;
  font-weight: bold;
}

h5 {
  color: $dark-gray;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

h6 {
  color: $medium-gray;
  font-size: 1em;
  font-weight: bold;
}

code {
  background: #f7f7f7;
  border: 1px solid #e0e0e0;
  border-radius: $base-border-radius * 1.5;
  font-size: .8em;
  font-style: normal;
  padding: .1em .4em;
  white-space: nowrap;
}

blockquote {
  border-left: 3px solid $dark-gray;
  margin-left: 0;
  padding-left: 1em;

  p {
    color: $medium-gray;
    font-size: 1.1em;
    font-style: italic;
  }
}
