.post__container {
  @include outer-container;
  @include span-columns(12);
}

.post__date {
  color: $medium-gray;
}

.embed-responsive {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.embed-responsive-item {
  height: 100% !important;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
}
