<%= partial "partials/head" %>
</head>
<body class="tk-proxima-nova-soft">

<%= yield %>

<script src="https://use.typekit.net/peu7ooh.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<%= javascript_include_tag "all" %>

</body>
</html>
