<div class="contact--background">
  <div class="small-gutter"></div>

  <div class="column row">
    <h4>CONTACT</h4>
    <a href="#">
      <i class="fa fa-envelope-o"></i>
      contact@coolcactus.com.au
    </a>

    <br>

    <a href="#">
      <i class="fa fa-instagram"></i>
      @coolcatus.shop
    </a>
  </div>

  <div class="gutter"></div>
</div>
