
<div class="gutter"></div>

<div class="row align-center">
  <div class="column small-6 medium-4 large-3">
    <ul class="menu icon-top expanded">
      <li><a href="mailto:contact@coolcactus.com.au" class="contact--mail"><i class="fi-list fa fa-envelope fa-2x"></i></a></li>
      <li><a href="https://instagram.com/coolcactus.shop/" class="contact--instagram" target="_blank"><i class="fi-list fa fa-instagram fa-2x"></i></a></li>
    </ul>
  </div>
</div>

<div class="row align-middle">
  <div class="column small-12">
    <div class="gutter"></div>
    <p class="text-center">&copy; <%= Time.now.year %> Cool Cactus &middot; All Rights Reserved</p>
  </div>
</div>

<div class="gutter"></div>
