
<div class="gutter"></div>

<div class="row align-middle">
  <div class="column small-6 medium-3">
    <a href="mailto:contact@coolcactus.com.au" class="contact--mail"><i class="fi-list fa fa-envelope fa-2x"  title="Email"></i></a>
  </div>

  <div class="column small-6 medium-3">
    <a href="https://instagram.com/coolcactus.shop/" class="contact--instagram" target="_blank"><i class="fi-list fa fa-instagram fa-2x"  title="Instagram"></i></a>
  </div>

  <div class="column small-12 medium-6">
    <p class="contact--text">&copy; <%= Time.now.year %> Cool Cactus &middot; All Rights Reserved</p>
  </div>
</div>

<div class="gutter"></div>
