<div class="container">
  <div class="footer">

    <hr class="footer__hr">

    <div class="footer__social">
      <a class="footer__icon instagram" href="https://instagram.com/hayleylaurendesign/">
        <i class="fa fa-instagram fa-2x"></i>
      </a>
    </div>

    <div class="footer__social">
      <a class="footer__icon facebook" href="https://www.facebook.com/Hayleylaurendesign">
        <i class="fa fa-facebook fa-2x"></i>
      </a>
    </div>

    <div class="footer__social">
      <a class="footer__icon mail" href="mailto:hayleylaurendesign@gmail.com">
        <i class="fa fa-envelope-o fa-2x"></i>
      </a>
    </div>

    <div class="footer__copy">
      <p class="footer__text">&copy; 2015 Hayley Lauren  &middot; All Rights Reserved</p>
    </div>
  </div>
</div>
