<div class="hero">
  <div class="hero__text">
    <h1 class="hero__title">Weekly Web Projects</h1>
    <p class="hero__sub">Created by Matthew Blode</p>
  </div>
</div>
<h1 class="hero__large-title">a project a week</h1>
