<div class="hero--background">
  <div class="small-gutter"></div>

  <div class="row">
    <div class="small-12 columns">
      <h1 class="text-center">COOL CACTUS</h1>
      <h3 class="text-center">INDOOR PLANTS &middot; POTS &middot; COOL THINGS</h3>
      <div class="gutter"></div>
    </div>
    <div class="small-12 medium-4 large-4 columns">
      <div class="thumbnail">
        <%= image_tag "http://placehold.it/500x500", { :class => 'index--mascot' } %>
      </div>
    </div>
    <div class="small-12 medium-4 large-4 columns">
      <div class="thumbnail">
        <%= image_tag "http://placehold.it/500x500", { :class => 'index--mascot' } %>
      </div>
    </div>
    <div class="small-12 medium-4 large-4 columns">
      <div class="thumbnail">
        <%= image_tag "http://placehold.it/500x500", { :class => 'index--mascot' } %>
      </div>
    </div>
  </div>

  <div class="small-gutter"></div>
</div>
