<div class="hero--background">
  <div class="small-gutter"></div>

  <div class="row hero">
    <div class="small-12 column align-middle">
      <!-- <h1 class="hero--title text-center">COOL CACTUS</h1> -->
      <%= image_tag "https://s3-us-west-2.amazonaws.com/mblode.imgix/CC-mascot.png", { :class => 'hero--mascot' } %>
      <h3 class="hero--tag text-center">INDOOR PLANTS &middot; POTS &middot; COOL THINGS</h3>
    </div>
  </div>
</div>
