<div class="hero--background">
  <div class="small-gutter"></div>

  <div class="row hero">
    <div class="small-12 column align-middle">
      <div class="hero--center">
        <% link_to 'index.html', :class => "hero--a" do %>
          <%= image_tag "https://s3-us-west-2.amazonaws.com/mblode.imgix/CC-mascot.png", {:alt => "Cool Cactus Mascot", :class => 'hero--mascot' } %>
        <% end %>
      </div>

      <div class="hero--center">
        <%= image_tag "https://s3-us-west-2.amazonaws.com/mblode.imgix/CC-logo.png", {:alt => "Cool Cactus Logo", :class => 'hero--logo' } %>
      </div>

      <!-- <h1 class="hero--title text-center">COOL CACTUS</h1> -->
      <h2 class="hero--tag text-center"><b>INDOOR PLANTS &middot; POTS &middot; COOL THINGS</b></h2>
    </div>
  </div>
</div>
