<div class="showcase--bckground">
  <div class="row">
    <div class="medium-gutter"></div>
    <div class="columns small-12 medium-12 large-12">
    <%= image_tag "https://s3-us-west-2.amazonaws.com/mblode.imgix/mural.JPG", { :alt => 'Cool Cactus Mural', } %>
    </div>
<!--
    <div class="columns small-12 medium-6 large-4">
      <div class="thumbnail">
        <%= image_tag "https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xat1/t51.2885-15/e35/12331588_714036752030818_178963947_n.jpg", { :alt => 'Cool Cactus Plants', } %>
      </div>
    </div> -->
    <div class="small-gutter"></div>
  </div>
</div>
