<div class="showcase--bckground">
  <div class="row">
    <div class="medium-gutter"></div>
    <div class="columns small-12 medium-6 large-4 large-offset-2">
      <div class="thumbnail">
        <%= image_tag "https://placeholdit.imgix.net/~text?txtsize=33&txt=800%C3%97600&w=800&h=600", { :class => '' } %>
      </div>
    </div>

    <div class="columns small-12 medium-6 large-4">
      <div class="thumbnail">
        <%= image_tag "https://placeholdit.imgix.net/~text?txtsize=33&txt=800%C3%97600&w=800&h=600", { :class => '' } %>
      </div>
    </div>
    <div class="small-gutter"></div>
  </div>
</div>
