<div class="showcase--bckground">
  <div class="row">
    <div class="medium-gutter"></div>
    <div class="columns small-12 medium-12 large-12">
    <%= image_tag "https://s3-us-west-2.amazonaws.com/mblode.imgix/mural.JPG", { :alt => 'Cool Cactus Mural', } %>
    </div>
    <div class="small-gutter"></div>
  </div>
</div>
