<div class="store--background">
  <div class="small-gutter"></div>
  <div class="row">
    <div class="column">
      <div class="store--title__container">
        <h2 class="store--title">THE STORE</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <h3 class="store--sub">STORE LOCATION</h3>
      <a href="https://www.google.com/maps/dir//6a+Barkly+Ave+Armadale/">
        <p>6A Barkly Avenue, Armadale 3143 VIC</p>
      </a>
      <a href="https://www.google.com/maps/dir//6a+Barkly+Ave+Armadale/"><img width="100%" src="http://maps.googleapis.com/maps/api/staticmap?center=6a+Barkly+Ave+Armadale&zoom=16&scale=false&size=640x400&maptype=roadmap&format=png&visual_refresh=true&markers=icon:x%7Cshadow:true%7C6a+Barkly+Ave+Armadale" alt="Google Map of 6a Barkly Ave Armadale&key=AIzaSyABbh2m2de9RH5iNGIGmDTHlOr4o4aNNF0"></a>
      <div class="medium-gutter"></div>
    </div>

    <div class="small-12 medium-6 columns">
      <h3 class="store--sub">TRADING HOURS</h3>
      <table class="store--table">
        <tr>
          <td>Monday</td>
          <td class="text-right">10:00 am – 5:00 pm</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td class="text-right">10:00 am – 5:00 pm</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td class="text-right">10:00 am – 5:00 pm</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td class="text-right">9:30 am – 5:30 pm</td>
        </tr>
        <tr>
          <td>Friday</td>
          <td class="text-right">9:30 am – 5:30 pm</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td class="text-right">9:30 am – 5:00 pm</td>
        </tr>
        <tr>
          <td>Sunday</td>
          <td class="text-right">Closed</td>
        </tr>
      </table>
      <div class="medium-gutter"></div>
    </div>
  </div>
</div>
