<div class="welcome">

  <div class="welcome--text welcome--top">
    <h2 class="welcome--welcome">Welcome to</h2>
    <h1 class="welcome--title">COOL CACTUS</h1>
    <p class="welcome--info">
      CLICK THE CACTUS MASCOT TO ENTER
    </p>
  </div>

</div>


<% link_to 'home.html', :class => "welcome--center" do %>
  <%= image_tag "https://s3-us-west-2.amazonaws.com/mblode.imgix/CC-mascot.png", { :class => 'welcome--mascot' } %>
<% end %>
