---
title: 006 - Sign Up
date: November 14th, 2015
img: "5.png"
---

<main class="grid">
  <form name="sign-up" method="post">

    <div>
      <label for="name">Name</label>
      <input type="text" name="first-name" id="form__first-name" placeholder="First" spellcheck="false" aria-required="true" aria-label="First name" required>
      <input type="text" name="last-name" id="form__last-name" placeholder="Last" spellcheck="false" aria-required="true" aria-label="Last name" required>
    </div>

    <div>
      <label name="email">Email</label>
      <input type="text" name="email" placeholder="Email address" autocomplete="true" required>
    </div>

    <div>
      <label name="password">Password</label>
      <input name="password" placeholder="New password" required type="password">
    </div>

    <div>
      <input type="submit" value="Sign Up" class="form__submit">
      <p class="text-centre">Already have an account? <a href="#">Sign In.</a></p>
    </div>
  </form>
</main>
