---
title: About
---

<div class="about__container">
  <div class="about__title">
      <h1>About</h1>
  </div>

  <div class="about__info">
    <p>
      Hayley Lauren is a textile designer and artist based in Melbourne, Australia. She is in her final year of Bachelor of Arts (Textile Design) at RMIT University majoring in constructed textiles.
      <br><br>
      Hayley’s art and designs come in a variety of styles and mediums. From watercolour to organic line work, to stencils cuts and detailed wildlife drawings. Her free flowing designs are a creative expression and insight into the way she sees the world.
      “For me, it’s about being free and having fun with art.”
      <br><br>
      Hayley has collaborated with companies such as Uppercup, Soxy Beast and Borne Bespoke. Projects have included patterned reusable coffee cups, knitted sock designs and fabric designs for pocket tees.
      <br><br>
      Hayley is constantly creating and on the lookout for collaborations and new projects.</p>
  </div>

  <div class="about__img">
    <img alt="Hayley Lauren" class="img-responsive" src="http://i.imgur.com/Fiuv2gy.jpg"/>
  </div>
</div>
