---
title: Contact
---

<h1>Contact</h1>
<form action="//formspree.io/m.blode@gmail.com" autocomplete="on" method="POST">

  <div>
    <label for="name">Your Name</label>
    <input name="name" placeholder="Full name" required type="text">
  </div>

  <div>
    <label name="_replyto">Your Email</label>
    <input name="_replyto" placeholder="Email" required type="text">
  </div>

  <div>
    <label for="message">Tell me about your project</label>
    <textarea id="message" name="message" placeholder="Message" required rows="4" width="100%"></textarea>
  </div>

  <div>
    <input type="submit" value="Send">
    <input name="_subject" type="hidden" value="New submission!"/>
  </div>
</form>
