---
title: Home
pageable: true
blog: work
---

<div class="work__container">
  <% blog.articles.each do |article| %>
    <div class="work">
      <% link_to article do %>
        <img alt="<%= article.data.title %>" class="work__img" src="<%= article.data.img %>">
        <p class="work__title"><%= article.data.title %></p>
      <% end %>
    </div>
  <% end %>
</div>
