---
title: Home
blog: project
---

<div class="project__container">
  <% blog.articles.each do |article| %>
    <div class="project">
      <% link_to article do %>
        <div class="project__img">
        	<img class="imgix-fluid" data-src="http://mblode.imgix.net/<%= article.data.img %>">
        </div>
        <p class="project__title"><%= article.data.title %></p>
      <% end %>
    </div>
  <% end %>
</div>
