.hero {
  background: $primary;
  height: 300px;
  @include span-columns(12);

  @include media(600px) {
    height: 300px;
  }
}

.hero__text {
  line-height: 28px;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.hero__title {
  color: $white;
  font-size: 28px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 10px;
}

.hero__sub {
  color: $medium-gray;
  font-size: 16px;
}

.hero__large-title {
  color: $primary;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 0;
  padding: 1em;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  @include media(600px) {
    letter-spacing: 10px;
  }
}
