.hero {
  background: $primary;
  height: 300px;

  @include media($small-screen-up) {
    height: 300px;
  }

  @include span-columns(12);
}

.hero__text {
  line-height: 28px;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.hero__title {
  color: $white;
  font-size: 28px;
  font-weight: 700;
  line-height: 46px;
  margin: 0;
  margin-bottom: 10px;
}

.hero__sub {
  color: $dark-gray;
  font-size: 16px;
}

.hero__icon {
  margin-left: 10px;
  margin-right: 10px;

  i {
    color: $dark-gray;
  }

  i:hover,
  i:focus {
    color: $medium-gray;
  }

  i:active {
    color: $dark-gray;
  }
}

.hero__large-title {
  color: $primary;
  font-size: 48px;
  font-weight: bold;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
  top: 5px;
}
