header.navigation {
  $large-screen: em(860) !default;
  $navigation-padding: 1em;
  $navigation-background: $white;
  $navigation-color: $medium-gray;
  $navigation-color-hover: $white;
  $navigation-height: 48px;
  $navigation-active-link-color: $pink;
  $horizontal-bar-mode: $large-screen;
  background-color: $navigation-background;
  border-bottom: 1px solid $light-gray;
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    color: $navigation-color;
    display: block;
    float: left;
    font-size: 18px;
    line-height: $navigation-height;
    margin: 0;
    padding-left: 15px;
    text-decoration: none;

    @include media ($horizontal-bar-mode) {
    }
  }

  // Mobile view
  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 15px;
    text-decoration: none;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

  }

  // Nav menu
  nav {
    float: none;
    z-index: 9999999;

    @include media ($horizontal-bar-mode) {
      float: right;
    }
  }

  i.fa-md {
    font-size: 18px;
    line-height: 18px;
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }

    &.show {
      display: block;
    }

  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    float: left;
    line-height: $navigation-height;
    padding: 0 1em;
    text-align: left;
    width: 100%;
    z-index: 9999;
    transition: $transition;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
    }
  }

  ul li.nav-link:focus,
  ul li.nav-link:hover {
    background: $blue-300;

    a {
      color: $navigation-color-hover;
    }
  }

  ul li.nav-link.active {
    background: $pink;

    a {
      color: $navigation-color-hover;
    }
  }

  ul li.nav-link a {
    color: $navigation-color;
    display: inline-block;
    text-decoration: none;

    @include media ($horizontal-bar-mode) {
      text-align: center;
    }
  }

}
