.project__container {
  margin-top: 8vw;

  @include media($small-screen-up) {
    margin-top: 6vw;
  }
}

.project {
  @include span-columns(12);
  background: $white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
  margin-top: 1em;
  padding: 1em;
  text-align: center;

  @include media($small-screen-up) {
    @include span-columns(6);
    @include omega(2n);
  }
}

.project__title {
  margin: 0;
  padding: 0;
}

.project__img {
  @include fill-parent;
  opacity: 1;
  transition: $transition;
  // 
  // @include media($small-screen-up) {
  //   height: 300px;
  // }

  &:hover {
    opacity: .6;
  }
}
